{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .main-container {
        margin: 50px;
    }
</style>

<nav class="navbar bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white">Hi, {{ name }}!</span>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>
</nav>

<div class="main-container">
    <h1>Edit Product</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Edit Product" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}